*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow: hidden;
}
.grass , .sky , .road{
    position: relative;
}

.sky{
    height: 40%;
    background-color: skyblue;
}
.grass{
    height: 30%;
    background-color: green;
}
/* body{
    background-color: lightblue;
    text-align: center;
} */
/* .wrapper{
    width: 100%;
    padding: 20px;
}
img{
    height: 10rem;
}
.circle{
    width: 100px;
    padding: 50px 0;
    margin: 60px auto;
    line-height: 0;
    background-color: blueviolet;
    color: aqua;
    border-radius: 50px;
    cursor: pointer;
    transition: 1s;
}
.circle:hover{
    background-color: darkblue;
} */