@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'IBM Plex Sans Arabic', sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #333;
}
ul{
    display: flex;
}
ul li{
    position: relative;
    list-style: none;
    width: 20px;
    height: 20px;
    background-color: #777;
    margin: 0 20px;
    border-radius: 50%;
    transition: 0.5s;
    cursor: pointer;
}
ul li:hover{
    background-color: #86ff3b;
    box-shadow: 0 0 0 4px #333, 0 0 0 6px #86ff3b;
}