@font-face {
    font-family: iran;
    src: url(../font/Iranian\ Sans.ttf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: iran , sans-serif;
}
body{
    height: 100vh;
    background-color: #051322;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
section{
    background-color: #EA524A;
    width: 22rem;
    color: white;
    min-height: 12.5rem;
    border-radius: 5px;
    padding: 1.5rem;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    position: relative;
}
.image{
    border-radius: 50%;
    width: 5rem;
}
.container{
    width: 11.5rem;
    height: 8.5rem;
    font-size: 13px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    line-height: 1.3rem;
}
.menu{
    position: absolute;
    bottom: -1.2rem;
    width: 10rem;
    height: 2.5rem;
    background-color: #FFBF45;
    border-radius: 50px;
    color: #AE460F;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all linear 0.4s ;
}
.item{
    width: 22rem;
    height: 4.5rem;
    border-radius: 5px;
    padding: 1rem 1.5rem;
    margin: 0.3rem;
    background-color: #fff;
    display: none;
    justify-content: space-between;
    align-items: center;
}
.openItem{
    display: flex;
}

.fa-angle-right{
    font-size: 1.5rem;
}
.rightItem{
    display: flex;
}
.fa-angle-right , .lowOpacity{
    opacity: 0.4;
}
.icon{
    font-size: 1.5rem;
    border-radius: 50%;
    margin-left: 1rem;
    padding: 11px;
    color: #fff;
}
.fa-envelope{
    background-color: #D34836;
}
.fa-square-facebook{
    background-color: #3B5897;
}
.fa-twitter{
    background-color: #1BA0F0;
}
.email{
    color: #D34836;
    font-weight: normal;
    font-size: 1.2rem;
}
.facebook{
    color: #3B5897;
    font-weight: normal;
    font-size: 1.2rem;
}
.twitter{
    color: #1BA0F0;
    font-weight: normal;
    font-size: 1.2rem;
}

.menubutton{
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    transform: translate(-8rem , 0.5rem);
}

.bottom{
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    color: white;
    align-items: center;
    width: 22rem;
    display: none;
}
.openBottom{
    display: flex;
    padding: 0.5rem;
    background: #C53534;
}
.brt{
    border-bottom-left-radius:0 ;
    border-bottom-right-radius:0 ;
}