body{
    border-color: #eee;
    font-family: monospace;
    color: #444;
    max-width: 960px;
    margin: 100px auto;
    padding: 10px;
}
nav{
    display: flex;
    justify-content: space-between;
}
nav h1{
    margin: 0;
}
nav a{
    color: white;
    text-decoration: none;
    background-color: #36cca2;
    padding: 10px;
    border-radius: 10px;
}