* {
  margin: 0;
  padding: 0;
  font-family: Calibri, sans-serif;
  font-weight: normal;
  color: #333;
  box-sizing: border-box;
}
body {
  position: relative;
}
h1 {
  font-size: 48px;
  margin: 10px 0;
}
p {
  margin-bottom: 40px;
}
.pop-up {
  position: relative;
  top: 200px;
  width: 500px;
  margin: 0 auto;
  text-align: center;
}
.pop-up .container {
  background: #f0e4d4;
  padding: 30px;
  position: absolute;
  top: 50px;
  width: 100%;
}
.pop-up input {
  padding: 10px;
  border: 0;
  border-radius: 10px 0 0 10px;
  border: 1px solid #333;
  font-size: 18px;
}



